/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {  
  z-index: 10;
  background: rgba(0,86,179,0.60);  
  top: 0;
  bottom:0;	
  left: 0;
  width: 24.5%;		
}

.carousel-caption-div {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.carousel-caption h2 {font-weight: 600; padding: 0 40px; font-size: 45px; 
	
}

.btnCarousel-a {color:#fff!important;}
.btnCarousel-a:hover {color:#000!important;}

.carousel-caption .btnCarousel {	
	padding: 40px 0px 0 40px;
}

.carousel-caption .btnCarousel a {	
	padding: 15px 30px 15px 30px;
    line-height: 1.5;
    border-radius: 0;
	background: #cc1f36;
	color:#fff;
	font-weight: 600;
	font-size: 14px;
}

.carousel-caption .btnCarousel a:hover { color:#000; background: rgba(204,31,54,0.85);}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 598px;
  background-color: #fff;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 598px;
}

.carousel-control-next, .carousel-control-prev {width:auto;}
.carousel-indicators {display: none!important; height:0!important; visibility: hidden!important;}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  /*margin-bottom: 1.5rem;*/
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
