
/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Open Sans', Arial,Verdana,sans-serif; padding-bottom: 0; color:#231f20;
   margin-bottom: 280px; /* Margin bottom to match footer height */
}

header {height:90px;}
main {overflow:hidden;}

p{font-size: 14px;}
a, a:active, a:visited {text-decoration: none!important;}	
.blog-post {padding: 0px 0 0px 0;}
.blog-wide {margin:auto;}
.sidebar-module {background: #f1dcdb; padding: 20px;}
.sidebar-module {background: #f1dcdb; padding: 20px;}

/**************************
GENERAL STYLES
**************************/
.container .blog-post a, a:active, a:visited{ text-decoration: none; color:#cc1f36; border:none; border-radius: unset!important; /*text-transform: uppercase; */ font-size: 15px; font-weight: 600;}
.container .blog-post a:hover{ color: #231f20; text-decoration: none;}

.container .blog-post img { -ms-interpolation-mode: bicubic; border: none; }
.container .blog-post a img { border: none;}

.container .blog-post p {color:#231f20; font-size: 15px; line-height: 150%;}
.container .blog-post h1 {font-size:40px; color:#2f67b2; font-weight: 500; padding-bottom: 0px;}
.container .blog-post h2 { color: #222a61; font-weight: 700; font-size: 18px; line-height: 110%; padding: 0; /*text-transform:uppercase; */}
.container .blog-post h3 { color: #3067b2; font-weight: 600; font-size: 16px; line-height: 110%; padding: 10px 0 10px 0; }
.container .blog-post h4 { color: #8aa6b5; font-size:15px; line-height: 110%; padding: 15px 0px 8px 0px; font-weight: 700; /*text-transform:uppercase;*/}
.container .blog-post h5 { color: #2f67b2; font-weight: 500; font-size: 15px; line-height: 110%; padding: 15px 0 5px 0; }
.container .blog-post hr { border-top: 5px solid #000;}

.container .blog-post ul { font-size:18px; line-height: 150%; 
	list-style-type: none;
	padding-left: 0;
	margin: 10px 0 10px 10px;}

.container .blog-post ul li { color:#231f20; padding-left: 16px; margin-bottom: 3px;font-size: 15px; list-style-type: none;}

.container .blog-post ul li::before {
    content: "\f04d";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 17px;
    color: #0069aa;
    font-size: 11px;
    margin-top: 2px;
    display: inline-block;
    font-weight: 900;
    /*margin-left: 15px;*/
}

.container .blog-post ul ul li { color:#231f20; padding-left: 16px; margin-bottom: 3px;font-size: 15px; list-style-type: none;}

.container .blog-post ul ul li::before {
    content: "\f04d";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #0069aa;
    font-size: 5px;
    margin-top: 2px;
    display: inline-block;
    font-weight: 900;
    margin-left: 45px;
}

.container .blog-post blockquote {
    color: #3067b2;
    font-size: 17px;
    font-weight: 700;
    padding: 0;	
	border-left:5px solid #cc1f36;
}

.container .blog-post blockquote p {
    color: #cc1f36;
    font-size: 18px;
	padding-left:20px;
    font-weight: 600;
}

.container .blog-post ol {padding-left: 20px;}
.container .blog-post ol li { padding-left: 5px;}

.information-source {border-top: 1px solid #8aa6b5; margin-top: 40px; font-size: 12px!important; color:#8aa6b5!important;}
.information-source p { font-size: 12px!important; color:#8aa6b5!important; padding-top:10px; margin-bottom:10px;}
.information-source ol {padding-left: 25px;}
.information-source a { font-size: 12px!important; color:rgba(47,103,178,0.80)!important; font-weight: 400!important;}
.information-source a:hover { color:#000!important;}

.disclaimer {}
.disclaimer p { font-size: 12px!important; color:#8aa6b5!important;}

.page-note p {font-size: 14px!important; color:#8aa6b5!important; font-weight: 600;}
.page-note a {font-size: 14px!important;}

.page-letter {
    max-width: 600px;
    border: 1px solid rgba(154,157,160,0.22);    
    -webkit-box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
    -moz-box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
    box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
	padding: 40px 20px;
	margin-bottom: 40px;	
}
.page-letter p {font-size:14px!important;}

.page-letter ul li {
    color: #000;
    padding-left: 16px;
    margin-bottom: 3px;
    font-size: 16px;
    list-style-type:disc!important;
	margin-left: 30px;
	font-size:14px!important;
}

.page-letter ul li::before {content: ""!important;}

.form-control {border-radius: 0!important;}
.form-control:focus {box-shadow:none!important;}
.fv-plugins-bootstrap .fv-plugins-icon {display: none; visibility: hidden; height:0;}
.fv-plugins-bootstrap .fv-help-block {padding-left:5px;}
.fv-plugins-bootstrap .fv-help-block::before {
    content: "\f12a";
    font-family: 'Font Awesome\ 5 Free';    
    left: 0px;
    color: #dc3545;
    font-size: 14px;
    margin-top: -1px;
    display: inline-block;
    font-weight: 600;
    padding-right: 7px;
}
.form-control[type="checkbox"], .form-control[type="radio"] {width:auto; margin-top: 10px; margin-bottom: 20px; margin-left:8px; transform: scale(2); margin-right: 10px;}

.nav-events {top: 38px!important; left: 30px!important;}

/**************************
ACCORDION
**************************/
.ui-accordion .ui-accordion-header {display:inline; width:25%;}
.ui-accordion .ui-accordion-content {position: absolute; width:100%;}

/**************************
PAGE NOT FOUND
**************************/
.page-not-found .blog-sidebar {text-align: center;}
.page-not-found i {font-size:100px; padding-top:60px;}

/**************************
HEADER
**************************/
.header {position:fixed; background-color: #fff; height:90px; width:100%; z-index: 1030; top:0;}
.header .header-logo {padding: 8px 50px 0 50px; float:left;}
.header .header-logo img {}
.header .header-buttons {position:fixed; top: 10px; right:20px;}
.header .header-buttons a {padding: 0 7px; color:#000;}
.header .header-buttons a i {font-size: 22px;}
.header .header-logo-old {font-size:12px; color:#3067b2; padding-top:0px; float:left; height: 100%;}
.header .header-logo-old span {position: relative; top: 30%; -webkit-transform: translateY(-30%); -ms-transform: translateY(-30%); transform: translateY(-30%);}

/**************************
HEADER - SEARCH
**************************/
.header .header-search {position:fixed; top: 50px; right:30px; display: none;}
.header-search-input input[type=textbox] {
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #000;
	background: none;
    color: #000;	
	font-size: 15px;
	margin-right: 20px;
	width: 300px;
}

.header-search-input input::placeholder {color: #000; opacity: 1; font-size:15px; }
.header-search-input input[type="text"]::-ms-input-placeholder { color: #000; }

.btn-search {color:#fff!important; font-size: 16px; font-weight: 600; border: none; background-color: #1a305c; padding: 7px 20px;}
.btn-search:hover, .btn-search:active { background: rgba(26,48,92,0.7); color:#000!important;}

/**************************
SITE SEARCH
**************************/

.search-results hr{
    border-top: 1px solid #8aa6b5 !important;
}

.site-search-form .row .col-sm-8{
    padding-left: 0;
}

.site-search-form .btn-checkout{
    margin-top: 0 !important;
}

mark{
    background: #E3E4E8;
    color: black;
}

/**************************
NAVBAR
**************************/
.navbar-custom {position:fixed; top: 90px; left:0; width:100%; background-color: #1a305c!important; padding: .5rem 40px; z-index: 5000;}
.navbar-custom .navbar-nav .nav-link {color:#fff; font-size:14px; font-weight: 600; padding-right: 20px; padding-left: 20px;}
.navbar-custom .navbar-nav .nav-link:hover {color:#2f67b2!important;}

.mr-auto, .mx-auto {
    margin-left: auto !important;
    margin-right: inherit !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.custom-toggler {border:none; }
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(47,103,178,1.00)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");	
}

.hamburger {padding:5px 0 0 10px !important;}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {background-color:#2f67b2!important; width: 30px!important;}
.hamburger:hover {opacity: 1!important;}

button:focus {outline: none;}

/**************************
NAVBAR - CONTACTS
**************************/ 
.navbar-contacts {padding: 0 10px;}
.navbar-contacts a {color: rgba(255,255,255,.5); text-decoration: none; padding:0 5px;}
.navbar-contacts a:hover {color: rgba(255,255,255,1);}

.contact-social {font-weight:600; border-top: 5px solid #000; padding: 10px 0;}
.contact-social a {padding: 0 10px;}
.contact-social a i {font-size: 22px; position: relative; top: 3px;}

/**************************
NAVBAR - SHOP
**************************/
.navbar-shop {padding: 0 10px;}
.navbar-shop a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-shop a:hover {color: rgba(255,255,255,1);}

/**************************
NAVBAR - MEMBERS
**************************/
.navbar-members {padding: 0px; position: fixed; top: 158px; right: 0; z-index: 2000;}
.navbar-members a {color: #fff;  font-size:16px; font-weight: 600; text-decoration: none; padding:15px 60px 15px 25px; background-color: #2f67b2; font-size:14px;}
.navbar-members a:hover {color:#000; background: rgba(47,103,178,0.85);}

.btn-logout {padding-top:20px;}

/**************************
SLIDERS
**************************/
.inside-page {height:272px;}
.inside-page .carousel-item > img {height: 272px}
.inside-page .carousel-item {height: 272px!important;}

/**************************
HOME PAGE
**************************/
.home-intro {padding: 50px 0 10px 0; text-align: left;}
.home-intro h1 {color:#3067b2; font-size:30px; font-weight: 600;}
.home-intro p {font-weight: 500;}
.home-intro img {max-width:100%; max-height: 85%;}

.btn-home-intro {margin: 40px 0;}
.btn-home-intro a {text-transform: uppercase!important; background: #fff; padding:7px 40px; color:#3067b2; font-size: 16px; letter-spacing: 2px; font-weight: 600; border: none; width: 100%; border: 1px solid #3067b2;}
.btn-home-intro a:hover {background: #3067b2; color:#fff; }

/**************************
HOME PAGE - BUTTONS
**************************/
.home-buttons {text-align: center;}
.home-buttons-box {border-left: 1px solid #fff; border-right: 1px solid #fff; padding-left:0; padding-right:0; height:199px;}
.home-buttons-box h2 {color:#fff; font-size: 30px;}
.home-buttons-more {color:#fff; font-size:14px; display:none; height:0; visibility: hidden;padding-top: 20px; padding-left: 10%; padding-right: 10%;}
.home-buttons-box a:hover > div {background-color: #e74440; position: relative; top:-79px; height: 278px;}
.home-buttons-box a:hover > div div {display:block; height:auto; visibility: visible;}
.home-buttons-box a:focus > div div, .home-buttons-box a:active > div div, .home-buttons-box a:visited > div div {font-weight: 500!important}

.home-buttons-box1 {background-color:#69a1d6; padding: 50px 0; height:199px; z-index: 100; }
.home-buttons-box2 {background-color:#2f67b2; padding: 50px 0;  height:199px;}
.home-buttons-box3 {background-color:#21418b; padding: 50px 0;  height:199px;}
.home-buttons-box4 {background-color:#1a305c; padding: 50px 0; height:199px; }

/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #cedfee; padding: 20px 0 40px 0; text-align: left;}
.home-new-img {padding: 10px 0;}
.home-news h2 {color:#3067b2;font-size: 30px; font-weight: 600; text-align: center; padding-bottom: 20px;}
.home-news h3 {color:#2f67b2;font-size: 14px;}
.home-news p {color:#231f20; font-size: 14px; margin-bottom: 0;}
.btn-home-news {text-transform: uppercase; color:#cc1f36!important; font-size:14px; font-weight: 600;}
.btn-home-news:hover {color:#3067b2!important;}

.home-news-item {width:100%;height:100%;} 
.home-news-item-box {width:30%; float:left; height:100%;}
.home-news-box {background-color:#1a305c; width:100%; height:100%; padding:10px; color:#fff; font-size:16px; font-weight: 600;}
.home-news-item-txt {width:62%; float:right; }
.home-news-box-line {width:100%; text-align: center; position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);}

.home-newsletter-container {width:85%; margin:auto; text-align: center;  position: relative; top: 55%; -ms-transform: translateY(-55%); transform: translateY(-55%);}

/**************************
HOME PAGE - NEWSLETER PANEL
**************************/
.home-newsletter {background-color:#2f67b2; height:155px;}
.home-newsletter h2 {color:#fff; font-weight: 600; font-size: 24px; text-align: right;}
.home-newsletter input {width:100%;}
.home-newsletter .btn-submit {padding:8px 20px; width:auto;}

.home-newsletter-controls {width:100%;}
.home-newsletter-input {width:100%; float:left; } 
.home-newsletter-btn {float:left; /*position: relative; top:-12px; */ } 

.home-newsletter-input input[type=text], .home-newsletter-input input[type=email] {
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #ffffff;
	background: none;
    color: #ffffff;	
	font-size: 15px;
}
.home-newsletter-input input::placeholder {color: #fff; opacity: 1; font-size:15px; }

.home-newsletter-btn .btn-submit {color:#fff!important; font-size: 16px; font-weight: 600; border: 1px solid #fff; background-color: #2f67b2}
.home-newsletter-btn .btn-submit:hover {background: #fff; color:#2f67b2!important;}

/**************************
HOME PAGE - SUPPORT US PANEL
**************************/
.panel-supportus {background: rgba(206,223,238,0.60);}
.home-supportus {padding: 50px 0 10px 0; text-align: left;}
.home-supportus h2 {color: #3067b2; font-size: 30px; font-weight: 600;}
.home-supportus img {max-width:100%; max-height: 85%;}

.btn-home-supportus {margin: 40px 0;}
.btn-home-supportus a {text-transform: uppercase!important; background: #4d9bd5; padding:7px 40px; color:#fff; font-size: 16px; letter-spacing: 2px; font-weight: 600; border: none; width: 100%; border: 1px solid #4d9bd5;}
.btn-home-supportus a:hover {background: #fff; color:#4d9bd5; border: 1px solid #4d9bd5;}

/**************************
HOME PAGE - LINKS PANEL
**************************/
.home-links-panel {}
.home-links { padding: 0; text-align: center; width: 85%; margin: auto;}
.home-links h2 {color: #3067b2; font-size: 30px; font-weight: 600; padding-top: 30px;}
.home-links p {color: #231f20;font-size: 14px;}

.links-carousel, .links-carousel * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.links-carousel { width: 85% !important; margin: 0 auto; padding: 0 0 30px 0; }
.links-carousel img { padding: 8px 10px; margin: 20px; /* height: 75px;*/ }
.links-carousel img:first-child { position: static; z-index: 100;}
.links-carousel .cycle-slide  { width: auto!important; height: auto; }

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-projects-img {padding: 10px 0;}
.home-projects h2 {color:#fff;}
.home-projects p {color:#fff;}

/**************************
HOME PAGE - PRODUCTS PANEL
**************************/
.home-products {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-products-img {padding: 10px 0;}
.home-products h2 {color:#fff;}
.home-products p {color:#fff;}

/**************************
PANEL STYLES
**************************/
.blog-masthead {max-width:1600px; margin:auto; width: 100%;}
.blog-masthead .container {padding: 50px 0px 50px 0;}

#divIndex {position:relative; z-index: 1000;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module .list-group-item {border:none; color: #000;font-size: 15px; font-weight: 600; background: #f1dcdb;}
.sidebar-module a {color: #000; text-decoration: none; font-size: 15px; font-weight: 600;}
.sidebar-module a:hover {color: #2f67b2;}
.sidebar-module ol ol a {color:#000; font-weight: 500;}

.navsidebar .active > a {color: #000;}
.list-group{ margin-top: 10px;}
.list-group-item {padding: 0 0 0 20px;}
.list-group-item.active {color:#2f67b2!important; /*background-color: #fff!important;*/}
.list-group-item.active > a {color:#2f67b2!important;}
.dropdown-item.active, .dropdown-item:active {background-color:inherit;}
.dropdown-item.active{ }

.sidebar-module h4 {color:#000; text-transform: uppercase; font-weight: 600; font-size: 15px;}

.sidebar-module ol li { padding-bottom: 7px;}
.sidebar-module ol li::before {
    content: "\f054";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #000;
    font-size: 11px;
    margin-top: 4px;
    display: inline-block;
    font-weight: 900;
}
.sidebar-module ol ol li {padding-left:0; padding-bottom: 10px;}
.sidebar-module ol ol li::before {content:none;}

.sidebar-module .nav-item {padding: 0 0 10px 20px;position: relative; display: block;}
.sidebar-module .nav-link {padding:0;}
.sidebar-module .nav-item .active {color: #2f67b2 !important; /*background-color: #fff !important;*/}
.sidebar-module .dropdown-menu {display: block; position:initial!important; margin-top: 10px; padding:0!important;}
.sidebar-module .dropdown-menu li::before {content:none!important;}
.sidebar-module .dropdown-menu li a, .sidebar-module .dropdown-menu li a:focus {padding:0!important;color: #000; font-weight: 500;font-size:15px; background-color: #f1dcdb !important;}
.sidebar-module .dropdown-menu li a:hover {background-color: #f1dcdb!important; color:#2f67b2 !important;}


.sidebar-module .dropdown-menu{ background-color: #f1dcdb !important;}

/* Sub Menu */
.navsidebar-sub {padding-left:10px;}

/**************************
CONTACT FORM
**************************/
.fb-text-label, .fb-select-label, .fb-textarea-label {display:none; visibility: hidden; height:0;}

#contact-form-fields .rendered-form .form-group {margin-bottom: 30px;}
#contact-form-fields input:focus, #contact-form-fields select:focus, #contact-form-fields textarea:focus {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
#1contact-form-fields input[type=text], #1contact-form-fields input[type=email], #1contact-form-fields input[type=textarea] {
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #000;
	background: none;
    color: #000;	
	font-size: 15px;
	margin: 0px!important;
	padding: 0px!important;
	width: 100%;
	border-radius: 0px !important;
}
#1contact-form-fields select {border-radius: 0px !important; border-color: #000; border-top:none; border-left:none; border-right:none; padding:0!important; margin:0!important;}
#1contact-form-fields textarea {border-radius: 0px !important; border-color: #000; border-top:none; border-left:none; border-right:none; padding:0!important; margin:0!important;}

#contact-form-fields input::placeholder, #contact-form-fields select::placeholder, #contact-form-fields textarea::placeholder {color: #000; opacity: 1; font-size:15px; }
#contact-form-fields input[type="text"]::-ms-input-placeholder, #contact-form-fields select::-ms-input-placeholder, #contact-form-fields textarea::-ms-input-placeholder { color: #000; }

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
DONATIONS
**************************/
.navbar-donation {padding: 0px; position: fixed; top: 158px; right: 208px; z-index: 2000;}

.navbar-donation .btn-donation {background: #cc1f36; padding:15px 30px 15px 30px; color:#fff; font-weight: 600; border: none; width: 100%; font-size:14px;}
.navbar-donation .btn-donation:hover {color:#000; background: rgba(204,31,54,0.85); }

.donationWrapper {padding: 10px 0; text-align: center;}
.donationWrapper .container {padding: 0;}

.donationWrapperInvisible {display:none;}
.txtDonationAmt {width: 100px;}	

.donationForm {display:none;}
.donationFormVisible {display:block;}

.donation-item a:hover > .donation-details {color:#fff!important; background-color: #000!important;}
.donation-details {background-color:#e8e8e8; text-align: center; color:#000; padding:20px; border-radius: 20px;}

.frmDonation .rad-donation {display:none; position: relative; z-index: 2;}

.frmDonation .label-amount {
	position: relative;
	color: #2f67b2;
	background-color: #e6edf3;
	font-size: 36px;
	font-weight: 300;
	text-align: center;
	height: 250px;
	line-height: 160px!important;
	padding-top:90px;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
}
.frmDonation .label-amount-mth {line-height: 90px;}

.frmDonation .radSectionAmount input:checked + .label-amount {
	border: 1px solid #2f67b2;
	background-color: #2f67b2!important;
	color: #fff!important;
}

.frmDonation .form-control[readonly] {background-color: #fff; border: none; padding: 0;}
.frmDonation .form-control[readonly]:focus {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

.donation-amt {position: absolute; bottom: 2px; width:100%; text-align: center;}

.frmDonation {padding:40px 0 100px 0;}
.frmDonation .btn-donation, .frmDonation .btn-donation:active, .frmDonation .btn-donation:visited {
	text-transform: uppercase !important;
	background: #fff;
	padding: 20px 40px;
	color: #3067b2!important;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 600;
	border: none;	
	border: 1px solid #3067b2!important;
	margin-top: 30px;
}
.btnDonation {margin-top:30px;}

.frmDonation .btn-donation:hover {background: #3067b2!important; color:#fff!important;}

.donationOther {color:#2f67b2; font-weight: 600;}
.donationOther input {border-color:#2f67b2; border-width: 1px; width: 100%; height: 60px; text-align: center; font-size: 36px; color:#2f67b2; font-weight: 300;}
#radAmountOtherRegular, #radAmountOtherOnce {display: none; width: 0;}

.rendered-form .form-control {border-radius: 0px;}
.frmDonation h1 p {color: #222a61!important; font-weight: 700!important; font-size: 19px!important; padding: 5px 0 5px 0!important; margin-bottom: 0!important;}
.frmDonation h1 {padding-bottom: 0;margin-bottom: 0;}

.frmDonation .field-donation, .frmDonation .field-type {display:none; visibility: hidden; height:0;}

.divDonationDetails {padding-bottom:20px;}

.paymentDetails-option {padding-bottom:20px;}
.paymentDetails-option input[type="radio"] {margin: 0 20px;}

.direct-deposit {margin-left: 60px; padding-top:10px;}
.direct-deposit p, .direct-deposit a {font-size: 16px !important;}

.donation-charity {width:100%;}
.donation-charity-txt {float:left; width:85%;}
.donation-charity-img {float:right; width:15%;}

.other-amt-txt {position: relative; top: 20px; text-align: right !important; width: 100%;}
.donation-category-txt {font-size:16px; position: relative; top: -120px; color: #000; z-index: 2; margin-top: -40px; padding: 0 10px;}
.donation-per-month-txt {text-transform: uppercase; font-size:12px; position: relative; top:-40px; color: #000;}
.donation-per-month-txt2 {text-transform: uppercase; font-weight: 500; font-size:12px; color: #000; text-align: left; position: relative; top: 20px;}
.donation-icon {font-size:50px; color: #2f67b2; position: relative; top: 90px; z-index: 1; margin-top: -70px;}

.donation-per-month-txt::after1 {
    content: "\f47f";
    font-family: 'Font Awesome\ 5 Free';
	position: relative;
	top: -140px;
	color: #0069aa;
	font-size: 50px;
	margin-top: 2px;
	display: inline-block;
	font-weight: 900;
	margin-left: -20px;
	left: -25px;
}

.donation-icon:hover {cursor: pointer;}

/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {}
.table td, .table th {}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btnBooking:visited, .btnBooking, .btnBooking:active, .btnBooking:visited {
	text-transform: uppercase !important;
	background: #fff;
	padding: 7px 40px;
	color: #3067b2;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 600;
	border: none;	
	border: 1px solid #3067b2;
	margin-top: 20px;
}

.btnBooking {margin:1em 0 1em 0;}
.btnBooking-inline, .btnBooking-inline:active, .btnBooking-inline:visited {padding:0!important; text-transform: none!important;letter-spacing: 0!important;}
.btnBooking-inline:hover {background: none!important;}
.blog-sidebar .btnBooking {width:100%;}

.btn-checkout:hover, .btnBooking:hover {background: #3067b2; color:#fff;}
.btn-checkout:focus, .btnBooking:focus {outline: none!important;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 0;      
    margin: 0 0px 20px 0px;
	padding:0;
}

.alert-success {color: #093!important; background-color:white; }
.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 280px; /* Set the fixed height of the footer here (for sticky footer) */
  background-color: #1a305c;
	text-align: center;
}
.footerContentWrapper {color:#fff; font-size: 12px; text-align: left; padding-top: 50px;}
.footerContent {padding-bottom: 30px; width: 60%; margin: auto;}

#footer-social {color: #fff; width:100%; margin: 0 auto; padding: 10px 0; text-align: center; font-size: 12px;}
#footer-social i {font-size:20px;}
#footer-social a, #footer-txt a:active {color: #fff; text-decoration: none; font-size: 12px; line-height: 120%; padding: 0 10px;}
#footer-social a:hover{ color: #cc1f36; text-decoration: none;}

#footer-txt {color: #fff; width:100%; margin: 0 auto; padding: 10px 0; text-align: center; font-size: 12px;}
.footer a, .footer a:active, .footer a:visited {color: #fff; text-decoration: none; font-size: 12px; line-height: 120%; padding: 0 7px!important; font-weight: 300!important;}
.footer a:hover{ color: #cc1f36; text-decoration: none;}

.footerContainer {padding: 40px 0;}

.footer .footer-logo-old {font-size:10px; color:#fff; padding-top:20px; padding-left: 8px;}
.footer-charity {width:100%; padding: 15px 0;}
.footer-charity-txt {float:left; line-height: 150%;}
.footer-charity-img {float:right;}
.footer p {line-height: 150%;font-size: 12px;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {margin-top: 20px; padding: 20px 0; clear: both;}
#pagination ul li::before {content: ""!important;}
.pagination  li {padding: 0 5px; font-size: 16px;}

.btn-pagination {width:100%; font-size:14px!important; font-weight: 400;  padding: 10px 0 0 0;}
.btn-prev {float:left; width:50%; text-transform: uppercase;}
.btn-next {float:right; width:50%; text-align: right; text-transform: uppercase;}


.page-link, .page-link:active, .page-link:visited {color: #1a305c!important; border:none!important;}
.page-link:hover {color: #000!important; background: rgba(26,48,92,0.50)!important; color:#fff!important;}
.page-link:focus {outline: none!important; box-shadow: none!important;}
.page-item.active .page-link { background: #1a305c; border-color: #1a305c; color:#fff!important;}

/**************************
HELPER - BUTTONS
**************************/
.btn-more {width: auto; margin-top: 10px!important; text-align: center;  } /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more a:hover {}

.btn-back {width:100%; padding: 20px 0 0 0; }

/**************************
HELPER - BACK TO TOP BUTTON
**************************/
#btnTopPage {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none;
  background-color: #cc1f36; 
  color: white; 
  cursor: pointer;
  padding: 10px; 
  border-radius: 0;
  font-size: 18px; 
}

#btnTopPage:hover {color:#000; background: rgba(204,31,54,0.85);}

/**************************
NEWS MODULE
**************************/
/****/
.news-list-item {clear:both;  padding: 0px 0 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: auto;}
.news-list-item-img {float: right;  width: 35%;}
.news-list-item-img img { width: 100%; max-width: 100%; height: auto;}
.news-list-more {text-align:right;}

.news-item {clear:both; padding: 10px 0px; width:100%;}
.news-item-txt {/*float: left;  width: 65%; */ }
.news-item-img {float: right;  width: 45%; height: auto; text-align: center; margin: 0; padding-left:20px;}	
.news-item-img img {width:100%; height:auto; /*width: 100%; max-width: 100%; height: auto;*/}

.panel-news {padding-bottom:30px;}
.panel-news-item {width: 100%; padding: 10px 20px; background-color: #e6edf3; margin-bottom: 40px; height: 100%;}
.panel-news-item img {width:100%;}

.panel-news-item-category-date {color:#000; font-weight: 600;}
.panel-news-item-category {color:#b5b8b8; font-weight: 600; text-transform: uppercase;}
.panel-news-item-date {color:#8aa6b6!important; font-weight: 600; font-size:15px!important;}
.panel-news-item-title {color:#2f67b2; font-weight: 600; margin-top: 7px; font-size:16px; }
.panel-news-item-shortdesc {color:#231f20!important; font-weight: 300; font-size:16px!important; }
.panel-news-item-shortdesc p { color:#231f20!important; font-weight: 300; font-size:16px!important;}
.panel-news-item p {margin-bottom: 0px;}

.panel-news-item a:hover > div > img, .panel-news-item-wide a:hover > div > img {overflow:hidden; opacity:0.8;}
.panel-news-item a:hover > div, .panel-news-item a:hover > div  {color:#555656!important;}

.panel-news-item a:hover .div-img img, .panel-news-item-wide a:hover .div-img img {overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.panel-news-item-wide {background-color: #e6edf3; margin: 20px 0; padding: 15px 15px 20px 15px;}
.panel-news-item-wide .div-img {max-height: 220px;}

/* Newsletter */
.newsletter-container {/*width:70%; margin:auto; text-align: center;  position: relative; top: 55%; -ms-transform: translateY(-55%); transform: translateY(-55%);*/	
	border: 1px solid rgba(154,157,160,0.22);
	padding: 0px 20px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
	-moz-box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
	box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
	background-color:#e6edf3;
	
}
.newsletter-container .news-item-txt, .news-item-foot {background-color:#e6edf3!important;}
.newsletter-brief {background-color:#fff!important;}
.newsletter {width:100%; overflow: auto;}
.newsletter-main {float:left; width:60%; padding:10px 10px 10px 10px;}
.newsletter-edition {float:left; width:20%; padding:10px 10px 10px 10px;}
.newsletter-brief {float:left; width:20%; padding:10px 10px 10px 10px; background-color: #f8f8f8;}

.newsletter-main h2 {font-size: 16px!important; font-weight:600;}
.newsletter-main img {width:100%!important; height:auto!important;}
.newsletter-main p {font-size:14px!important;}

.newsletter-edition {font-size: 14px; font-weight:600;}
.newsletter-edition h2 {font-size: 16px!important; font-weight:600; text-transform: uppercase;}
.newsletter-edition p {font-size:14px!important;}

.newsletter-brief {font-size: 14px;}
.newsletter-brief h2 {font-size: 16px!important; font-weight:600;}
.newsletter-brief p {font-size:14px!important;}

.newsletter-container a {font-size:14px!important;}
.newsletter-container ul li {list-style: disc!important;font-size:14px!important;}
.newsletter-container ul li::before {content: ""!important;}

.news-item-foot {padding:20px; background-color:#f8f8f8; clear: both; border-top: 5px solid #000; font-size:14px!important;}


.news-newsletter {/*max-width: 1600px; margin:auto;*/ }
/*.news-newsletter .newsletter-container {width:100%;}*/
.news-newsletter .home-newsletter {background-color:#cedfee; height:auto; padding-top:40px;}
.news-newsletter .home-newsletter h2 {color:#3067b2;}
	
.news-newsletter .home-newsletter-input input[type="text"], .news-newsletter .home-newsletter-input input[type="email"] {color: #2f67b2; border-bottom: 1px solid #2f67b2;}
.news-newsletter .home-newsletter-input input::placeholder {color: #2f67b2; opacity: 1; font-size:15px; }
.news-newsletter .home-newsletter-input input::-ms-input-placeholder { color: #000; }
.news-newsletter .home-newsletter-btn .btn-submit {border-bottom:none; border: 1px solid #1a305c;}
.news-newsletter .home-newsletter-btn .btn-submit:hover {border: 1px solid #1a305c;background-color:#cedfee!important;}

input[type="text"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder { color: #fff; }

/**************************
EVENTS MODULE
**************************/
/****/
.events-list-item {clear:both;  padding: 0px 0 20px 0px; overflow: hidden;}
.events-list-item .btn {padding: 2px 20px;}
.events-list-item-txt {float: left;   width: auto;}
.events-list-item-img {float: right;  width: 35%;}
.events-list-item-img img { width: 100%; max-width: 100%; height: auto;}
.events-list-more {text-align:right;}

.events-item {clear:both; padding: 10px 0px; width:100%;}
.events-item-txt {/*float: left;  width: 65%; */ }
.events-item-date {color: #8aa6b6!important; font-weight: 600; font-size: 15px!important; margin-bottom: 1.5em;}
.events-item-img {float: right;  width: 45%; height: auto; text-align: center; margin: 0; padding-left:20px;}	
.events-item-img img {width:100%; height:auto; /*width: 100%; max-width: 100%; height: auto;*/}
.events-item-book {padding-bottom: 15px;}

.panel-events {padding-bottom:30px;}
.panel-events-item {width: 100%; padding: 10px 20px; background-color: #e6edf3; margin-bottom: 40px; height: 100%;}
.panel-events-item img {width:100%;}

.panel-events-item-category-date {color:#000; font-weight: 600;}
.panel-events-item-category {color:#b5b8b8; font-weight: 600; text-transform: uppercase;}
.panel-events-item-date {color:#8aa6b6!important; font-weight: 600; font-size:15px!important;}
.panel-events-item-title {color:#2f67b2; font-weight: 600; margin-top: 7px; font-size:16px; }
.panel-events-item-shortdesc {color:#231f20!important; font-weight: 300; font-size:16px!important; }
.panel-events-item-shortdesc p { color:#231f20!important; font-weight: 300; font-size:16px!important;}
.panel-events-item p {margin-bottom: 0px;}

.panel-events-item a:hover > div > img {overflow:hidden; opacity:0.8;}
.panel-events-item a:hover > div {color:#555656!important;}

.panel-events-item a:hover .div-img img {overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

#jQueryPopupDiv {height: auto !important; }
.btn-popup {color:#FFF!important; padding: 10px 25px;font-size: 15px;  margin: 0 0 10px;  min-width: 90px; width: 35%; background: #3067b2 none repeat scroll 0 0; border:1px solid #3067b2!important; font-weight: 600;  } 
.btn-popup a, .btn-popup a:active, .btn-popup a:visited { }
.btn-popup:hover {background: #fff; color: #3067b2!important;}
.ui-widget-header {background:#1a305c; color: #fff;}
.ui-dialog-buttonset .ui-button {background: #cc1f36!important; color:#fff!important; border-radius: 0!important; border:1px solid #cc1f36!important; font-weight: 600;}
.ui-dialog-buttonset .ui-button:hover {background: #fff!important; color:#cc1f36!important; }

#frmRegister .form-wrapper {background: #e6edf3; padding: 2.5%; margin:2% 0;}
#frmRegister .form-wrapper-white {background: #fff!important; padding: 0 2.5%;}
.paymentHide {display:none; visibility: hidden; height: 0;}

.event-speakers {padding:0 15px!important; }
.event-speakers .row > div {background-color: #e6edf3; margin: 20px 0; padding: 15px 15px 20px 15px;}
.event-speakers-title {color: #2f67b2; font-weight: 600; margin-top: 7px; font-size: 16px;}
.event-speakers-txt {color: #231f20!important; font-weight: 300; font-size: 16px!important;}

.event-program {clear:both;  padding: 20px 20px; overflow: hidden;  background-color:#e6edf3; margin: 20px 0;}
.event-program-name {color:#cc1f36; font-size:16px; font-weight: 600; padding: 10px 0;}
.event-program-row {width:100%; clear:both; padding: 0 0 0 20px; display: inline-block;}
.event-program-row-time {float:left; width:10%; color:#0069aa; font-size:15px; text-transform: uppercase; font-weight: 600; padding-bottom: 10px;}
.event-program-row-txt {float:left; width:90%; color:#231f20; font-size:16px; padding-bottom: 10px;}
.event-program-row-txt ul {margin: 10px 0 0px 10px!important;}
.event-program-row-txt ul li::before {position: relative!important; left: -10px!important;}

.event-sponsor {margin:auto; text-align: left; padding: 5px 0!important;}
.event-sponsor h3 {border-bottom: 1px solid #3067b2; margin-bottom: 20px;}
.event-sponsor .div-img img {
    width: auto;
	max-width: 300px;
	margin:0;
}
.event-sponsor .team-a, .event-sponsor .div-img {overflow: visible!important; margin:0;}
.event-sponsor .team-a {padding: 0 0 40px 0;}
.event-sponsor .team-a {width: 50%; float: left; margin-bottom:20px;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
PROJECTS MODULE (RESEARCH)
**************************/
.project-block {}
.project-block .container {padding: 0px; }
.project-summary {color:#222a61!important; font-size: 19px!important;}

/* List Page */
.project-list-item {clear:both;  padding: 20px 20px; overflow: hidden;  background-color:#e6edf3; margin: 20px 0;}
.project-name {color:#cc1f36; font-size:16px; font-weight: 600; padding: 10px 0;}
.project-title {color:#2f67b2; font-size:16px; font-weight: 600; padding: 10px 0;}
.project-list-item hr {border:2px solid #242b61;}
.project-row {width:100%; clear:both; padding: 10px 0;}
.project-row-field {float:left; width:25%; color:#8aa6b6; font-size:15px; text-transform: uppercase; font-weight: 600;}
.project-row-value {float:left; width:75%; color:#231f20; font-size:16px }
.project-btn {width:100%; clear:both; text-align: right; position: absolute; right: 40px;}

.project-btn a .fa-chevron-down, .project-btn a .fa-times {background-color: #2f67b2; color:#fff!important; padding: 5px;}
.project-btn a .fa-chevron-up {background-color: #939393; color:#fff!important; padding: 5px;}
.project-btn a i:hover {color:#000!important;}
.project-btn a .fa-chevron-up {display:none;}

.project-row-more {display: none;}

/* Item Page */
.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;  width: 65%; padding-right: 20px;  }
.project-item-img {float: right; width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

/**************************
SPECIALISTS MODULE 
**************************/
/* List Page */
.specialist-list-item {clear:both;  padding: 20px 20px; overflow: hidden;  background-color:#e6edf3; margin: 20px 0;}
.specialist-name {color:#cc1f36; font-size:16px; font-weight: 600; padding: 10px 0;}
.specialist-title {color:#2f67b2; font-size:16px; font-weight: 600; padding: 10px 0;}
.specialist-title-inner { padding: 0px 10px 0 0; display: inline-block;}
.specialist-list-item hr {border:2px solid #242b61;}

.specialist-row-top-field {float:left; width:15%; color:#8aa6b6; font-size:15px; text-transform: uppercase; font-weight: 600;}
.specialist-row-top-value {float:left; width:85%; color:#231f20; font-size:16px }
.specialist-row {width:100%; clear:both; padding: 10px 0; display: inline-block;}
.specialist-row-inner {padding: 20px 0 0 0;}
.specialist-row-field {float:left; width:40%; color:#8aa6b6; font-size:15px; text-transform: uppercase; font-weight: 600;}
.specialist-row-value {float:left; width:60%; color:#231f20; font-size:16px }
.specialist-btn {width:100%; clear:both; text-align: left;}

.specialist-btn a .fa-chevron-down, .project-btn a .fa-times {background-color: #2f67b2; color:#fff!important; padding: 5px;}
.specialist-btn a .fa-chevron-up {background-color: #939393; color:#fff!important; padding: 5px;}
.specialist-btn a i:hover {color:#000!important;}
.specialist-btn a .fa-chevron-up {display:none;}

.specialist-row-more {display: none;}

.project-row-value a { font-size: 16px!important; color:#231f20!important; font-weight: 500!important;}
.project-row-value a:hover {font-weight: 600!important;}

.specialist-filters {background: #f1dcdb; padding: 20px; width:100%;}
.specialist-filters label {color: #000; text-transform: uppercase; font-weight: 600; font-size: 15px;}
.specialist-filters-item {width:100%; overflow: auto;}
.specialist-filters-item-label {float:left; width:10%; color: #000; text-decoration: none; font-size: 15px; font-weight: 600; text-transform :inherit;}
.specialist-filters-item-input {float:left; width:85%; }
.specialist-filters-item-input input {margin: 0 5px 0 20px;}
.specialist-row-btn {padding-top:30px; display: inline-block; width: 100%;}

.divStates {display:none; visibility: none; margin-top:5px;}
.divStateAustralia, .divStateNewZealand {display:inline-block;}

/**************************
TEAM MODULE
**************************/
.1team-item {padding: 0 100px 0 15px;}
.team-item .div-img img {max-width: 250px;}
.team-item .div-img-grants {text-align: center; margin: auto;}	
.team-item .div-img-grants img {width:auto; max-width: auto; max-height: 109px;}	
.team-item .team-txt-grants {text-align: center; margin: auto;}	

.1team-item {
    width: 100%;
    /*padding-top: 35% !important;	*/
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
    margin: 0 10% 0 0%;
}

.team-item-img {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background-size: cover!important;
   /* padding: 15px;*/
}

.team-name-band{
    position: absolute;
    bottom: 5px;
    height: 90px;
    padding: 10px;
    width: calc(100% - 10px);
    background: rgba(0, 0, 0, .5);
    left: 0;
    margin-left: 5px;
    text-align: center;
    color: white;
}

.team-name-band-title {font-size: 14px; color:#fff; font-weight: 300;}

.team-name-band a:hover{
    color: white !important;
}

.team-name-band p {margin-bottom: 0;}

.team-h2 {padding-top:0px!important; padding-bottom: 10px !important;}
.team-h2-gap {padding-top:30px!important;}
.team-hr hr {border-top: 2px solid #000!important;}

.team-item-img img {width:100%;}

.team-txt {padding: 5px 0 30px 0;}
.team-name-band-name {color:#3f6c9a; font-weight: 600; line-height: 150%; font-size: 16px;}
.team-name-band-position {color:#000; line-height: 150%; font-size: 14px;}
.team-name-band-qualification {color:#000; line-height: 150%; font-size: 12px;}

.team-a, .team-a img,.div-img  {overflow:hidden; margin-top: 10px;}
.team-a:hover .div-img img {color:#000!important;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	
}
.div-img img {width:100%;}

.team-a:hover  {overflow:hidden; opacity:0.8;}
.team-a:hover .team-name-band-name, .team-a:hover .team-name-band-title {color: #2f67b2!important;}

/* Modal */
.modal {z-index:10000;}
.modal-lg {max-width: 50%;}
.modal-content {position:absolute!important; top:129px; border-radius: 0; background-color: #e6edf3;}
.modal-body-body {width:100%;}
.modal-header {padding-botttom:0;  border-bottom: 5px solid #000; margin: 20px; padding: 0;}
.modal-header-content {padding-bottom: 20px; width:100%;}
.modal-body {padding: 0 20px;}
.modal-body-img {float:left; width:30%; padding: 0 20px;}
.modal-body-txt {float:left; width:70%; padding: 0 20px 0 0; }
.modal-body-txt p {font-size:14px!important;}
.modal-body-img img {width:100%;}
.modal-header .team-name-band-name {color: #2f67b2; width:100%;}
.modal-header .team-name-band-position, .modal-header .team-name-band-qualification { color:#cc1f36; font-size: 15px; font-weight: 600;}
.modal-footer {border:none!important;}

.modal-body-txt-grants {float:left; width:100%; padding: 0 20px 0 0; }
.modal-body-txt-grants p {font-size:14px!important;}

.modal-btn {width:100%; clear:both; text-align: right;}
.modal-btn a .fa-times {background-color: #2f67b2; color:#fff!important; padding: 5px;}
.modal-btn a i:hover {color:#000!important;}

/**************************
TABS
**************************/
.mj_tab_items > div {border-radius:0!important; color:#fff; border:none!important; padding-top:15px; padding-bottom:15px; opacity: 1; height: 75px; }
[data-tab="#tab1"]:hover, [data-tab="#tab2"]:hover, [data-tab="#tab3"]:hover, [data-tab="#tab4"]:hover {background-color:#e74440!important;}
.mj_tab_items > div:hover {opacity: 0.7!important;}
.mj_tab_items > div.active {font-weight:600; background-color:#e74440!important; opacity: 1!important;}
.mj_tab_items > div::after {
    content: "\f067";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    right: 0px;
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
    font-weight: 900; 
	margin-top: 2px;
}
.mj_tab_items > div.active::after {
    content: "\f068";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    right: 0px;
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
    font-weight: 900;
	margin-top: 2px;
}

.mj_accordion_item {}
.mj_tab_items > div {margin-right: 0px;}
.mj_accordion_content ul li::before, .mj_tab_contents ul li::before {margin-left: 30px!important;}
.mj_tab_contents ul ul li::before {margin-left: 60px!important;}
.mj_tab_contents > div {border-radius:0!important;}

/* What is Sarcoma */
.pages-sarcoma {padding-top:20px;}
.pages-sarcoma .mj_tab_items div:nth-child(1) { background-color:#69a1d6;}
.pages-sarcoma .mj_tab_items div:nth-child(2) { background-color:#2f67b2;}

.pages-sarcoma .mj_tab_items div:nth-child(1) {/*padding-left: 45px;*/ width:50%;}
.1pages-sarcoma [data-tab="#tab1"]::before {
    content: "\f497";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #fff;
    font-size: 20px;
    margin-top: -2px;
    display: inline-block;
    font-weight: 900;
    margin-left: 15px;
}

.pages-sarcoma .mj_tab_items div:nth-child(2) {/*padding-left: 40px;*/ width:50%;}
.1pages-sarcoma [data-tab="#tab2"]::before {
    content: "\f471f067";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #fff;
    font-size: 20px;
    margin-top: -2px;
    display: inline-block;
    font-weight: 900;
    margin-left: 15px;
}

.pages-sarcoma  ul li::before {left:5px!important;}

/* Strategic */
.pages-strategic .mj_tab_items div:nth-child(1) { background-color:#69a1d6; width:25%;}
.pages-strategic .mj_tab_items div:nth-child(2) { background-color:#2f67b2; width:25%;}
.pages-strategic .mj_tab_items div:nth-child(3) { background-color:#21418b; width:25%;}
.pages-strategic .mj_tab_items div:nth-child(4) { background-color:#1a305c; width:25%;}

.pages-strategic .mj_tab_items div:nth-child(1) {padding-left: 40px;}
.pages-strategic .mj_tab_items div:nth-child(1)::before {
    content: "\f610";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #fff;
    font-size: 20px;
    margin-top: -2px;
    display: inline-block;
    font-weight: 900;
    margin-left: 15px;
}
.pages-strategic  ul li::before {left:0!important;}

.pages-strategic .mj_tab_items div:nth-child(2) {padding-left: 35px;}
.pages-strategic .mj_tab_items div:nth-child(2)::before {
    content: "\f155";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #fff;
    font-size: 20px;
    margin-top: -2px;
    display: inline-block;
    font-weight: 900;
    margin-left: 15px;
}

.pages-strategic .mj_tab_items div:nth-child(3) {padding-left: 45px;}
.pages-strategic .mj_tab_items div:nth-child(3)::before {
    content: "\f518";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #fff;
    font-size: 20px;
    margin-top: -2px;
    display: inline-block;
    font-weight: 900;
    margin-left: 15px;
}

.pages-strategic .mj_tab_items div:nth-child(4) {padding-left: 45px;}
.pages-strategic .mj_tab_items div:nth-child(4)::before {
    content: "\f06e";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #fff;
    font-size: 20px;
    margin-top: -2px;
    display: inline-block;
    font-weight: 900;
    margin-left: 15px;
}

/* What is Sarcoma */
.pages-donation .mj_tab_items div:nth-child(1) { background-color:#69a1d6;}
.pages-donation .mj_tab_items div:nth-child(2) { background-color:#2f67b2;}

.pages-donation .mj_tab_items div:nth-child(2) {padding-left: 45px; width:50%;}
.pages-donation .mj_tab_items div:nth-child(2)::before {
    content: "\f004";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #fff;
    font-size: 20px;
    margin-top: -2px;
    display: inline-block;
    font-weight: 900;
    margin-left: 15px;
}

.pages-donation .mj_tab_items div:nth-child(1) {padding-left: 40px; width:50%;}
.pages-donation .mj_tab_items div:nth-child(1)::before {
    content: "\f21e";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #fff;
    font-size: 20px;
    margin-top: -2px;
    display: inline-block;
    font-weight: 900;
    margin-left: 15px;
}

/* Membership */
.pages-membership {margin-top: 40px; margin-bottom: 40px;}
.pages-membership .mj_tab_items div:nth-child(1) { background-color:#69a1d6; width:33.3%;}
.pages-membership .mj_tab_items div:nth-child(2) { background-color:#2f67b2; width:33.3%;}
.pages-membership .mj_tab_items div:nth-child(3) { background-color:#21418b; width:33.3%;}
.pages-membership  ul li::before {left:5px!important;}

.btnRegister {background: #cc1f36; padding: 15px 30px 15px 30px; color: #fff; font-weight: 600; border: none; display: inline-block; margin:0 0 20px 0;}
.btnRegister a {color:#fff!important; padding-left: 20px;}
.btnRegister a:hover {color:#000!important;}
.btnRegister:hover {background: rgba(204,31,54,0.85); }

.btnRegister a::before {
    content: "\f061";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 40px;
    color: #fff;
    font-size: 20px;
    margin-top: -2px;
    display: inline-block;
    font-weight: 900;
    margin-left: 0px;
}

/* Grant List */
.grants-list {background-color: #e6edf3;width:100%; margin:auto; padding-top: 20px; /*border-top: 5px solid #000; margin-top: 20px;*/}
.grants-list h3 {color:#2f67b2;font-size: 16px;font-weight: 600; padding: 0!important; margin: 0!important; padding-bottom: 7px !important;}
.grants-list p {color: #231f20; font-size: 14px !important; border-bottom: 2px solid #000; padding-bottom: 20px; margin-bottom: 20px;}

/* Research */
.pages-research .mj_tab_items div:nth-child(1) { background-color:#69a1d6; width:50%;}
.pages-research .mj_tab_items div:nth-child(2) { background-color:#2f67b2; width:50%;}

/* Publications */
.pages-publications .mj_tab_items div:nth-child(1) { background-color:#69a1d6; width:12.5%;}
.pages-publications .mj_tab_items div:nth-child(2) { background-color:#2f67b2; width:12.5%;}
.pages-publications .mj_tab_items div:nth-child(3) { background-color:#69a1d6; width:12.5%;}
.pages-publications .mj_tab_items div:nth-child(4) { background-color:#2f67b2; width:12.5%;}
.pages-publications .mj_tab_items div:nth-child(5) { background-color:#69a1d6; width:12.5%;}
.pages-publications .mj_tab_items div:nth-child(6) { background-color:#2f67b2; width:12.5%;}
.pages-publications .mj_tab_items div:nth-child(7) { background-color:#69a1d6; width:12.5%;}
.pages-publications .mj_tab_items div:nth-child(8) { background-color:#2f67b2; width:12.5%;}
.pages-publications  ul li::before {left:5px!important;}

.div-cvfile {padding:10px 0; width:100%; font-weight: 600; font-size: 15px;}
.div-cvfile-upload {width:100%; overflow: auto; padding-top: 6px;}
.div-cvfile-upload div {float:left; padding-right:10px;}
.div-cvfile-upload div:first-child {padding-top:2px; color: #cc1f36; font-size: 15px; font-weight: 600;}


/**************************
REGISTER FORM
**************************/
.payment-options input{

    margin-bottom: 20px;
}

.members-qualification, .members-institution {}
.members-graduationYear {}
#frmRegister input[type='checkbox'] {background-color:#e6edf3;}

.intl-tel-input .flag-container{
    height: 40px !important;
}
/**************************
EXTRAS
**************************/
.page-fundraise-for-us {height: 100%; clear: both; width: 100%; display: inline-block; padding-bottom: 20px;}
.page-fundraise-for-us-txt {left: left; width: 60%; height: 100%; position: relative; /*top: 50%;*/ -webkit-transform: translateY(50%); -ms-transform: translateY(50%); transform: translateY(50%);}
.page-fundraise-for-us-img {float: right; margin-right: 10px; width: 40%;}
.page-fundraise-for-us-img img {width:100%!important; height:auto!important;}
.page-fundraise-for-us-txt  ul li::before {left:5px!important;}

.pages-partner {width:100%; clear:both; display: table;}
.pages-partner div {width: 30%; background-color:#e6edf3; margin:0 1.5%; padding: 20px 10px; display: table-cell; height: 100%; border-collapse: separate; border: solid 10px #fff;}
.pages-partner div h2 {color: #2f67b2!important; text-align: center; padding-bottom: 10px !important;}
.pages-partner div p {text-align: center;}

.grants-popup {display:none; background-color: #e6edf3; position: fixed; top: 158px; left: 20%; right: 20%; z-index: 10000; padding:20px; bottom: 0; overflow-y: scroll; overflow-x: hidden;}
.grants-popup-close {float: right; padding-right: 10px; padding-top: 10px; font-weight: 700!important; color: #000!important; background: #2f67b2; color: #fff !important; padding: 5px !important; font-size:14px!important;}
.grants-popup-close:hover {color:#000!important;}

.grants-logos {width:100%; clear: both; padding: 30px 0; display: inline-block;}
.grants-logos span {display: block; width:100%; padding-top: 20px; font-size: 14px;}

#grants-open1, #grants-open2, #grants-open3, #grants-open4, #grants-open5, #grants-open6 {float:left; width:29%; padding-right:1.3%;text-align: center;}
#grants-open1 img, #grants-open2 img, #grants-open3 img, #grants-open4 img, #grants-open5 img, #grants-open6 img {/*height: 60px;*/ max-height: 109px;}

.sidebar-charity {padding: 20px 10px; font-weight: 500; font-size: 14px;}
.sidebar-charity-img {width:60%; text-align: center; padding: 20px 0; margin: auto;}
.sidebar-charity-img img {}

.fv-help-block {color: #dc3545;}

.sponsor-cont{
    margin-bottom: 30px;
}
/**************************
RESPONSIVE
**************************/
@media screen and (max-width: 480px) {	
	.blog-masthead {width: 90%;}
	.blog-masthead .container {padding: 10px 0px!important;}
	.container .blog-post h1 {font-size: 27px;}
	
	.header .header-logo {padding: 3px 5px!important;}
	.header .header-logo img {width: 90%; margin-top: 3px; margin-left: 0;}
		
	.home-buttons {width:70%; top: -65px!important; margin-bottom: -85px!important;}

    .home-buttons-box1, .home-buttons-box2, .home-buttons-box3, .home-buttons-box4{
        height: 150px !important;
        padding: 30px;
    }

	.carousel-item {height: 270px!important;}
	.carousel-item > img {/*height: 270px!important;*/  width: 100%; height: auto!important; top: 78px;}
	.carousel-caption h2 {font-size: 17px;}
	.inside-page {overflow: initial; height: 130px;}
	
	.team-item {display:block!important; flex:none!important;max-width: 100%!important;padding-left:0!important; padding-right:0!important;}
	.team-block .col-4, .team-block .col-8 {display:block!important; flex:none!important;max-width: 100%!important;padding-left:0!important; padding-right:0!important;}	
	
	.header .header-buttons {position: fixed; top: 5px; right: 5px;}
	.header .header-buttons a {padding: 0 2px; }
	.navbar-donation .btn-donation, .navbar-members a {padding: 16px 0px 16px 0px;}
	.home-buttons-box {width: 70%!important; height: 150px !important; margin-top: unset !important;}
	.home-intro {padding: 30px 0 30px 0;}	
	.home-supportus {padding: 30px 0;}
	.home-supportus h2 {font-size:25px; }
	.btn-home-supportus {margin: 20px 0;}
	.home-links p {padding: 0 10px;}
	.navbar-donation a {padding: 0 !important;}
	.home-newsletter-container {width:95%;}
	
	.mj_tab_items > div {width:100%;}
	
	.project-row-field, .project-row-value {width:100%;}
	
	.newsletter-main, .newsletter-edition, .newsletter-brief  {width:100%;}

	.container .blog-post blockquote {border-left:none!important;}
	.container .blog-post blockquote p {padding-left: 0px;}
	
	.donationWrapper{padding: 0;}
	.frmDonation {padding: 20px 0;}
	.paymentDetails-option input[type="radio"] {margin: 0px;}
	.direct-deposit {margin-left: 0px;}
	.direct-deposit p, .direct-deposit a {font-size:12px!important;}
	.donation-charity-img, .donation-charity-txt { width: 100%; text-align: center; float:none;}
	.donation-charity-img img {float: none!important; margin-right: 0px!important; width:auto!important;}    
	.frmDonation .btn-donation, .frmDonation .btn-donation:active, .frmDonation .btn-donation:visited {width:100%;}
	.btnDonation { margin-top: 20px;}
	
	.team-txt {padding: 5px 20px 30px 20px;}
	.container .blog-post img {/*padding:20px;*/}
	
	.custom-toggler {right: 5px!important;}
	
	.container .blog-post h1 {font-size: 25px;}
	.header-logo-old {display:none; visibility: hidden; height: 0;}
	.carousel-caption {/*display:none; visibility: hidden; height: 0;*/ top: auto!important; bottom:27%!important; padding-bottom: 0; padding-top: 15px;}
	.carousel-caption h2 {font-size:14px!important; padding:0!important; margin-bottom: 0!important;}
	.home-buttons-box {width: 80%!important;}

    .home-buttons-box h2{ font-size: 18px !important;}

	.home-intro h1, .home-news h2, .home-links h2 {font-size: 25px;}	 
	.home-supportus {margin:auto; text-align: center; padding-bottom: 10px;}
	.home-supportus img, .home-intro img {max-width: 80%;}
	.home-links {width:100%;}
	.header .header-buttons a i {font-size:20px;}
	.team-item .div-img img {max-width: 100%; padding: 0 20px;}
	.modal-lg {max-width: 100%;}
	.modal-content {top: 133px;}
	.modal-body-img {width:100%; padding: 0;}
	.modal-body-img img {padding: 0!important;}
	
	.news-item-foot strong::before {content: "\A"; display: flex;}
	.news-item-txt ol {margin-left:0!important;}
	.pages-partner div p img {width:auto!important;}
	.container .blog-post p img {width:100%!important; height: auto!important; margin-right: 0px!important;}	
	.mj_accordion_item {width:100%!important;}
	.footerContentWrapper {padding-top: 10px;}
	.modal-body-txt {width:100%; padding:0;}
	.mj_tab_items div {width:100%!important;}
	.paymentDetails-option img {width:80%;}	
	
	.news-item-img {float:none; width: 100%; padding-left: 0; margin-bottom: 20px;}
	.news-item-img img {width:100%;}
	.events-item-img {float:none; width: 100%; padding-left: 0; margin-bottom: 20px;}
	.events-item-img img {width:100%;}
		
	.panel-news-item-wide-1 {margin-bottom: 0; padding-bottom: 0;}
	.panel-news-item-wide-2 {margin-top: 0;}
	
	.event-program-row {padding:0;}
	.event-program-row-time, .event-program-row-txt {float:none; width:100%;}	
	.event-speakers .row > div:nth-child(1), .event-speakers .row > div:nth-child(3) { margin: 0px 5%; padding: 15px;}	
	.event-speakers .row > div:nth-child(2), .event-speakers .row > div:nth-child(4) { margin: 0px 5% 30px 5%; padding: 0 15px;}
	.event-speakers .div-img {max-height: 250px; margin: auto; text-align: center;}
	.event-speakers .div-img img {width:70%;}
	.event-sponsor .col-lg-4 {padding: 30px 0;}
}

@media only screen and  (max-width: 991px) {	
	.blog-sidebar {width: 100%!important; max-width: 100%!important; padding: 20px 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2;flex: auto; }			
	.blog-main {width: 100%; padding: 10px 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%; margin-top: 0px;}
	.blog-masthead .container {padding: 30px 0px;}
	
	header {height:inherit;}
	.navbar-custom {top:90px; min-height: 0; margin: 0; padding: 0; text-align: center;}
	.header .header-logo {text-align: center; padding: 3px 20px;}
	.custom-toggler {position: absolute; top: -45px; right: 20px;}		
	
	.navbar-donation {width:50%; float:left; right:inherit!important; text-align: center; background: #cc1f36; padding: 7px 0; top: 90px!important;}
	.navbar-members {width:50%; float:left; left:inherit!important; text-align: center; background-color: #2f67b2; padding: 7px 0; top: 90px!important;}
	.navbar-donation a {padding:0!important;}
	.navbar-members a {padding:0;}
	.navbar-custom .navbar-nav .nav-link {font-size:14px!important;}
	.btco-hover-menu a, .navbar > li > a {font-size:14px!important;}
	.navbar-donation .btn-donation, .navbar-members a {font-size: 14px!important;}
	
	.carousel-item {height: 370px;}
	.carousel-item > img {height: 370px; right: 0!important; left:inherit!important;}
	.carousel-caption {width: 100%; right: 0; top: 75%; }
	.carousel-caption-div {top: 10%;}
	.carousel-caption h2 {text-align: center; font-size: 30px; /*top: 10%;*/ }
	.carousel-caption .btnCarousel {display:none; visibility: hidden; height: 0;}
	.home-buttons {position: relative; top: -20px; margin-bottom: -40px; z-index:100; width:80%; margin: auto;}
	.home-buttons-box {width:90%; margin:auto; margin-top: 1px; border-left:none; border-right:none;}
	.home-buttons-more {width:80%; margin:auto;}
	.home-buttons-box a:hover > div {top:inherit; height: 199px;}
	.home-buttons-box a:hover > div div {display:none; height:0; visibility: hidden;}
	
	.home-supportus {text-align:center;}
	
	.divHome {max-width:inherit;}
	.divHome .container {max-width: inherit;}
	.home-intro {text-align: center;}
	
	.home-news .container {max-width: inherit;}
	.home-news-item {padding: 10px 0;}
	
	.home-newsletter-container { -ms-transform: none; transform:none; -ms-transform: translateY(0); transform: translateY(0);}
	.home-newsletter {height:auto; position:inherit; top: inherit; -ms-transform: none; transform:none; padding: 20px 0;-ms-transform: translateY(0); transform: translateY(0);}
	.newsletter-container {width:100%; height:auto; position:inherit; top: inherit; -ms-transform: none; transform:none;}
	.home-newsletter h2 {text-align: center;font-size: 24px!important;}
	.home-newsletter-btn {float: none; position:inherit; top: inherit; margin: 10px 0;}
	.home-newsletter-input {padding: 10px 0; width:80%; margin:auto; text-align: center; float:none;}
	
	.links-carousel {width:100%!important;}
	
	.footer {}
	.footerContent {width:100%; text-align: center; padding-bottom: 0;}
	.footerContentWrapper {background-color: #1a305c;}
	.footer-charity-txt, .footer-charity-img {float: none!important; padding-bottom: 5px;}
	.footer .center-block {padding: 10px 0;}
	.footer p {margin-bottom: 0;}
	
	.contact-details {text-align:center;}
	
	.team-item {-ms-flex: 0 0 33%;flex: 0 0 33%;max-width: 33%; margin: 0}	
	
	.radSectionAmount .col-lg-4 {padding:20px!important;}
	.other-amt-txt {text-align:center!important; position: inherit!important;}
	.donationOther .container {padding: 0px;}
	
	.page-fundraise-for-us-img {width:100%; -ms-transform: none; transform:none; -ms-transform: translateY(0); transform: translateY(0);padding-bottom: 20px;}
	.page-fundraise-for-us-txt  {width:100%; -ms-transform: none; transform:none; -ms-transform: translateY(0); transform: translateY(0);}
	
	.pages-partner div {display:block; width:100%; border:none!important; margin: 10px 0 40px 0;}
	.page-fundraise-for-us {padding-bottom:0;}	
	
	.modal-lg {max-width:80%;}
	.modal-content {top:98px;}
	
	.mj_tab_items div {width:100%!important; height: unset !important;}
	.contact-social {text-align: center;}
	
	.event-program-row-time {width:15%;}
    .event-program-row-txt {width:85%;}
	.event-sponsor .team-a {width: 100%; float: none!important; margin-bottom:0;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */
	.home-newsletter-container {    -ms-transform: translateY(0); transform: translateY(0);}
	.navbar-donation a {padding: 0 !important;}	
	.home-news-box-line {position: inherit; -ms-transform: none!important; transform: none!important;}
	
	.carousel-item {height:300px;}
	.carousel-item > img {height:300px; top:50px;}
	
	.inside-page .carousel-item {height: 170px;}
	.inside-page .carousel-item > img {height: 170px; top: 75px;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
	.navbar-members, .navbar-donation {top: 153px!important;}	
	.home-buttons-box h2 {font-size:26px;}
	.home-newsletter-container {width:95%;}
	.navbar-custom .navbar-nav .nav-link {font-size: 12px!important;padding-right: 12px!important;padding-left: 12px!important;}
	.navbar-donation { top: 154px; right:198px!important;}	
	.navbar-members a {padding: 15px 50px 15px 25px;}
	.home-news-box-line {position: inherit; -ms-transform: none!important; transform: none!important;}
	.home-newsletter-container { width: 100%;} 
	.links-carousel { width: 100%!important;} 
	.home-newsletter h2 {font-size:18px!important;}
	.footerContent {width:100%;}
	
	.carousel-caption h2 {font-size: 40px!important; top:220px!important;}
	.home-newsletter h2 {font-size:17px!important;}
	
	.contact-social a i {font-size:18px!important;}
	.carousel-caption {width:35%;}
	.home-newsletter-btn {float:none!important;}
	.home-newsletter h2 {font-size: 16px!important;}
	
	.carousel-item {height:375px;}
	.carousel-item > img {height:375px;}
	
	.inside-page .carousel-item {height: 250px!important;}
	.inside-page .carousel-item > img {height: 250px!important;}
}

@media only screen and (max-width: 568px)and (orientation:landscape) {
	/* For iphone 5  landscape layouts only */		
}

@media only screen and (min-width : 1025px) and (max-width : 1400px) {		
	/* Desktops and laptops */
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1600px) {	
	.footerContent {width:90%;}
	.footer-charity-img {float:left; padding-left:10px; padding-top: 10px;}
	.footerContentWrapper {background-color: #1a305c;}
	
	.team-name-band {height:110px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1500px) {	
	.newsletter-container {width:100%;}	
	.contact-social a i {font-size:18px;}
}

@media only screen and (min-device-width: 974px) and (max-width: 1182px) {
    .mj_tab_items > div {font-size:13px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1100px) {
	.navbar-custom .navbar-nav .nav-link {font-size:12px; padding-right: 12px; padding-left: 12px;}
	.btco-hover-menu a, .navbar > li > a {font-size:12px;}
	
	.navbar-donation {top: 153px; right: 191px;}
	.navbar-members {top: 153px;}
	.navbar-donation .btn-donation, .navbar-members a {font-size:12px;}
	
	.home-newsletter h2 {font-size: 18px;}
	
	.blog-masthead .container {padding: 30px 0px 30px 0;}
	.footerContent {width: 100%;}
	.footer a, .footer a:active {padding: 0px;}
	
	.carousel-caption h2 {font-size: 30px;}
	
	
}

@media only screen and (min-device-width: 769px) and (max-width: 700px) {	
	.header .header-logo-old {display:none; visibility: hidden; height:0;}
	.carousel-caption h2 {font-size:20px;}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* For Internet Explorer 10 and above  */
	.home-intro .container .row {display: block!important;}
	.home-intro .col-lg-9 {-ms-flex:none!important; flex:none!important;float:left; width:75%;}
	.home-intro .col-lg-3 {-ms-flex:none!important; flex:none!important;float:left; width:25%;}
}
	