

.blog-masthead{
	max-width: unset !important;
}

.donation-part{
	padding-top: 30px;
	padding-left: 50px;
}

.donation-header-band{
	position: fixed;
	top: 90px;
	left: 0;
	width: 100%;
	background-color: #1a305c!important;
	padding: .5rem 40px;
	z-index: 5000;
}

.container-fluid .blog-post h1 {
	font-size: 40px;
	color: #2f67b2;
	font-weight: 500;
	padding-bottom: 0px;
}

.container-fluid .blog-post blockquote p {
	color: #cc1f36;
	font-size: 18px;
	padding-left: 20px;
	font-weight: 600;
}

.container-fluid .blog-post blockquote {
	color: #3067b2;
	font-size: 17px;
	font-weight: 700;
	padding: 0;
	border-left: 5px solid #cc1f36;
}

.pages-donation .mj_tab_items div:nth-child(1) {
	width: 100% !important;
}

.container-fluid .blog-post h2 {
	color: #222a61;
	font-weight: 700;
	font-size: 18px;
	line-height: 110%;
	padding: 0;
	/* text-transform: uppercase; */
}

.container-fluid .blog-post a, a:active, a:visited {
	text-decoration: none;
	color: #cc1f36;
	border: none;
	border-radius: unset!important;
	/* text-transform: uppercase; */
	font-size: 15px;
	font-weight: 600;
}

.mj_tab_items{
	cursor: unset;
}

.donation-image-container{
	padding-left: 0;
	padding-right: 0;
}


.first-bg{
	background-image: url("../../images/site/amy_baby_bump_e.jpg"); background-size: 1280px; display: block;
}

.second-bg{
	background-image: url("../../images/site/amy_e.jpg"); background-size: 1280px; display: block;
}

.donation-image{
	background-color: #a3141a;
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;
	right: 0;
	width: 100%;
	height: 100%;
	max-height: inherit;
	overflow: hidden;
	font-size: 22px;
}


.donation-image-container .yellow-bg{
    font-family: 'Roboto', sans-serif;
	background-color: #fff44f;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 45px;
}

.donation-image-container .blue-bg{
    font-family: 'Roboto', sans-serif;
	background-color: #132EDB;
	color: #ffffff;
	line-height: 45px;
	padding-top: 5px;
	padding-bottom: 5px;
}


.donation-image-container .text-container div{
	margin-left: 50px;
	margin-bottom: 30px;
}

.yellow-bg-container{
	width: 40%;
}

.blue-bg-container{
	width: 80%;
	text-align: center;
	margin: auto;
}

.text-container{
	position: relative;
	top: 100px !important;
}

.text-second{
	position: relative;
	top: 240px !important;
	width: 60%;
}

.carousel{
	height: 100% !important;
}

.carousel-inner{
	height: 100% !important;
}

.carousel-item{
	height: 100% !important;
}

.frmDonation .label-amount{
	line-height: 50px !important;
	padding-top: 5px !important;
	height: 60px !important;
}

.text-italic{
	font-style: italic;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.blog-main.donation-image-container {
		padding: 0 !important;
		height: 500px;
	}

	.donation-image{
		font-size: 16px;
	}

	.yellow-bg{
		line-height: 20px !important;
	}

	.blue-bg{
		line-height: 20px !important;
	}

	.text-container{
		width: 50%;
		top: 20px !important;
		left: 10px !important;
	}

	.first-bg .text-container{
		width: 60% !important;
		top: 20px !important;
	}

	.second-bg .text-container{
		width: 60% !important;
		top: 20px !important;
	}

	.donation-image-container .text-container div{
		margin-left:10px;
		margin-bottom: 10px;
	}

	.donation-image{
		font-size: 9px;
	}

	.carousel{
		height: 250px !important;
	}

	.first-bg{
		background-size: 400px !important;
	}

	.second-bg{
		background-size: 450px !important;
	}

	.donation-part{
		padding-left: 15px !important;
	}

	.yellow-bg-container{
		width: 100%;
	}

	.blue-bg-container{
		width: 100%;
	}

	.blog-masthead{
		margin-top:40px;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.blog-main.donation-image-container {
		padding: 0 !important;
		height: 500px;
	}

	.donation-image-container .text-container div{
		margin-left: 10px !important;
	}

	.donation-image{
		font-size: 16px;
	}

	.yellow-bg{
		line-height: 30px !important;
	}

	.blue-bg{
		line-height: 30px !important;
	}

	.text-container{
		width: 60%;
		top: 20px !important;
		left: 10px !important;
	}

	.carousel{
		height: 400px !important;
	}

	.first-bg{
		background-size: 650px !important;
	}

	.second-bg{
		background-size: 720px !important;
	}

	.donation-part{
		padding-left: 15px !important;
	}

	.yellow-bg-container{
		width: 100%;
	}

	.blue-bg-container{
		width: 100%;
	}

	.blog-masthead{
		margin-top:40px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	.blog-masthead{
		margin-top:40px;
	}

	.blog-main.donation-image-container {
		padding: 0 !important;
		height: 500px;
	}

	.donation-image{
		font-size: 16px;
	}

	.yellow-bg{
		line-height: 30px !important;
	}

	.blue-bg{
		line-height: 30px !important;
	}

	.donation-image-container .text-container div{
		margin-left: 10px !important;
	}

	.text-container{
		width: 50%;
		top: 20px !important;
		left: 10px !important;
	}

	.carousel{
		height: 450px !important;
	}

	.first-bg, .second-bg{
		background-size: 853px !important;
	}

	.donation-part{
		padding-left: 15px !important;
	}

	.yellow-bg-container{
		width: 100%;
	}

	.blue-bg-container{
		width: 100%;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

@media screen and (max-width: 480px){
	.blog-masthead {
		width: 100% !important;
	}
}
/*
@media only screen and  (max-width: 991px) {

	.blog-main.donation-image-container {
		padding: 0 !important;
		height: 500px;
	}

	.donation-image{
		font-size: 16px;
	}

	.yellow-bg{
		line-height: 30px !important;
	}

	.blue-bg{
		line-height: 30px !important;
	}

	.text-container{
		width: 50%;
		top: 20px !important;
		left: 10px !important;
	}
}

@media screen and (max-width: 480px){


}*/