/*
	Plugin	: MJ Tab
	Author	: Michael Janea (www.michaeljanea.com)
	Version	: 1.6
*/

#mjTab {}
	#mjTab_Container {height:350px; overflow:auto; margin-bottom:1em;}
	#mjTab table {width:100%; border-collapse:collapse;}
	#mjTab th, #mjTab td {padding:.5em;}
	#mjTab th {font-weight:bold;}
	#mjTab td {vertical-align:top;}
	#mjTab input[type=text], #mjTab textarea {padding:.3em; border:1px solid #ddd; -webkit-border-radius:3px; border-radius:3px; -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.075); box-shadow:inset 0 2px 2px rgba(0,0,0,0.075); background:rgba(0, 0, 0, .01); outline:none;}
	#mjTab input[type=text]:focus, #mjTab textarea:focus {border:1px solid #139ff7;}
	#mjTab input[type=text] {width:150px;}
	#mjTab textarea {resize:none; width:295px; height:100px; white-space:pre-wrap;}
	#mjTab .mjTab_remove, #mjTab .mjTab_addNew, #mjTab .mjTab_up, #mjTab .mjTab_down, #mjTab .mjTab_move {font-weight:bold; -webkit-border-radius:3px; border-radius:3px; cursor:pointer;}
	#mjTab .mjTab_remove {background:#A94442; padding:.3em .5em; color:#fff;}
	#mjTab .mjTab_remove:hover {text-decoration:none;}
	#mjTab .mjTab_addNew, #mjTab .mjTab_up, #mjTab .mjTab_down, #mjTab .mjTab_move {float:right; padding:.5em; background:#f3f3f3; border:1px solid #ddd;}
	#mjTab .mjTab_addNew:hover {text-decoration:underline;}
	#mjTab .mjTab_up, #mjTab .mjTab_down {float:none; padding:.13em .4em;}
	#mjTab .mjTab_move {background:url('../icons/move.png') center center no-repeat #f3f3f3; width:11px; height:9px; cursor:move;}